/* main.css */
* {
  margin: 0;
  padding: 0;
  color: #363636;
  font-family: 'Raleway', sans-serif;
}

div.clear {
  width: 100%;
  clear: both;
}

.signout{
  margin-top: 7px;
  margin-right:10px;
}

.title {
    font-family: "Arial";
    font-size: 35px;
    font-weight: bold;
}

body {
    background-color: white;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 20px;
}
body div.center-box {
  width: 100%;
  position: relative;
  overflow: hidden;
  top: 25%;
}
body div.title {
  width: 100%;
  overflow: hidden;
  color: #006666;
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  text-align: center;
  height: auto;
  text-shadow: 1px 1px 2px #d8d8d8;
}
body div.email {
  overflow: auto;
  margin: 0px auto;
}
body input[type="text"].email {
  font-size: 24px;
  line-height: 34px;
  height: 34px;
  color: #727272;
  width: 82%;
  padding-left: 3%;
  padding-right: 3%;
  box-shadow: inset 0px 2px 4px #C5CDCE;
  border: none;
  border-width: 0;
  margin: 0;
  outline: none;
  margin-left: 16px;
}

div.slide {
  padding: 10px;
  width: 300px;
  height: 460px;
  background-color: #e9ebec;
}

.chatroom-buttons{
  width:100%;
  height:70px;
  margin-bottom:-35px;
}

.speech-bubble {
  position: relative;
	width: auto;
	height: auto;
    max-width: 300px;


}

h1 {
    text-shadow:0px 1px 1px #626262;
}

h5{
  text-align:center;
  color:white;
}

.speech-bubble h5{
  color:black;
}
h6{
  color:black;
  font-size:18px;
}

.jumbotron {
    background-color: inherit;
}

.randomize{
  height:90px;
  width:100%;
  margin-top:40px;
  margin-bottom:20px;
}

.emailcard{
  height:50px;
  width:100%;
}
.listcards{
  margin-bottom:7px;
}

.headernav{
  width:100%;
}
.message {
    padding: 1px 13px;
    min-width: 50px;
}
.lefto{
    background-color: #E9EBEC;
    float: left;
    text-align: left;
}

.righto{
    background-color: #D9ED56;
    float: right;
    text-align: right;
}

.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}
