/* main.css */
* {
  margin: 0;
  padding: 0;
  color: #363636;
  font-family: 'Raleway', sans-serif;
}

input, textarea{
    color: #4A777A !important;
}


html, body {
    margin: 0;
    height: 100%;
    width:100%;
}

h1.flyp{
  color:#4A777A;
  font-size:120px;
  font-family: 'Wire One', sans-serif;
}

.mainpage{
  width:100%;
  min-height:100%;
}

.submitmessage{
  padding-bottom:20px;
}


input::-webkit-input-placeholder {
color: #4A777A !important;
}

.signout{
  margin-top:10px;
  margin-right:8px;
}


.labelsignup{
  color:white;
}


div.clear {
  width: 100%;
  clear: both;
}
.header-container{
  text-align:center;
}

@media only screen and (max-width: 700px){
  .header-title{
    display:inline-block;
    position:absolute;
    left:40%;
    color:white;
    font-size: 41px;
  }
}
@media only screen and (min-width: 701px){
  .header-title{
    display:inline-block;
    position:absolute;
    left:45%;
    color:white;
    font-size: 41px;
  }
}

.title {
    font-family: "Arial";
    font-size: 35px;
    font-weight: bold;
}

body {
    background-color: 'white';
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 20px;
  padding-top:60px;
}
body div.center-box {
  width: 100%;
  position: relative;
  overflow: hidden;
  top: 25%;
}
body div.title {
  width: 100%;
  overflow: hidden;
  color: #006666;
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  text-align: center;
  height: auto;
  text-shadow: 1px 1px 2px #d8d8d8;
}
body div.email {
  overflow: auto;
  margin: 0px auto;
}
body input[type="text"].email {
  font-size: 24px;
  line-height: 34px;
  height: 34px;
  color: #727272;
  width: 82%;
  padding-left: 3%;
  padding-right: 3%;
  box-shadow: inset 0px 2px 4px #C5CDCE;
  border: none;
  border-width: 0;
  margin: 0;
  outline: none;
  margin-left: 16px;
}

div.slide {
  padding: 10px;
  width: 300px;
  height: 460px;
  background-color: #e9ebec;
}

.chatroom-buttons{
  width:100%;
  height:70px;
  margin-bottom:-35px;
}

.speech-bubble {
  position: relative;
	width: auto;
	height: auto;
  max-width: 300px;
}

.submit-button{
  color:white !important;
  background-color: #36648B;
}

h1 {
    text-shadow:0px 1px 1px #626262;
    color:#36648B;
}
h2{
  color:#36648B;
}

h3{
  color:#36648B;
}

h4{
  color:#36648B;
}

.randomize h4{
  color:white;
}

h5{
  text-align:center;
  color:#36648B;
}

.speech-bubble h5{
  color:black;
}


.date-container .date{
  color:black;
  font-size:15px;
}

h6{
  color:white;
  font-size:18px;
}


.jumbotron {
    background-color: inherit;
}

.randomize{
  height:90px;
  width:100%;
  margin-top:40px;
  margin-bottom:20px;
  background-color:#ff7f7f;
}

.emailcard{
  height:50px;
  width:100%;
}
.listcards{
  margin-bottom:7px;
}

.headernav{
  width:100%;
}
.message {
    padding: 1px 13px;
    min-width: 5px;
    word-wrap:break-word;
}
.lefto{
    background-color: #ff7f7f;
    float: left;
    text-align: left;
}

.righto{
    background-color: #00688B;
    float: right;
    text-align: right;
}

.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.name-list .name{

}
