<template name='chats'>
  <div class='yourchats'>
    {{#if yours}}
        <div class="chatted speech-bubble righto round">
            <h6 align='right' class='message'>{{content}}</h6>
        </div>
        <div class="clear"></div>
        <div class='date-container'>
          <h6 align='right' class='date'>{{time}}</h6>
        </div>
        <div class="clear"></div>
    {{else}}
      <div class="chatted speech-bubble lefto round">
          <h6 align='left' class='message'>{{content}}</h6>
      </div>
      <div class="clear"></div>
      <div class='date-container'>
        <h6 align='left' class='date'>{{time}}</h6>
      </div>
      <div class="clear"></div>
    {{/if}}
  </div>
</template>
