<template name='header'>
  <nav class= "navbar navbar-fixed-top blue-grey darken-2 mainnav">
    <div class='header-container'>
      <p class='header-title'> flyp </p>
    </div>
    <div class="hide-on-med-and-down">
      <ul class="right">
        <li><a href="{{pathFor 'mainpage'}}">Home</a></li>
        {{> signout}}
      </ul>
    </div>
    <ul id="slide-out" class="side-nav">
      <h2 style='text-align:center;'>flyp</h2>
      <li class='sidenav-button'><a href="{{pathFor 'mainpage'}}">Home</a></li>
      {{> signout}}
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </nav>
</template>
